@import '~office-ui-fabric-react/dist/sass/References.scss';

.addTailGateRequest {
  background-color: #f4f4f4; 
  padding-bottom: 50px;
  
  .container {
    // border-radius: 20px;
    // max-width: 700px;
    margin: 0px auto;
    box-shadow: none;
  }
  .action-section {
    padding: 20px 120px;  
}
h1{
  // padding:5px 0 0 5px;
  // color:#c70808eb;
  padding: 10px 10px 10px 0px;
  color: #c70808eb;
  border-bottom:none;
  display: inline-block;
  margin-left: 20px;
  font-size: 26px;
}
  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white; 
    padding: 20px;
    color:#000
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
    margin: 0 0 15px 0;
  }
  .col_3 {
    @include ms-Grid-col;
    @include ms-lg3;
    @include ms-sm3;
    @include ms-xl3;
}
  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }
  .divalign{
    font-size: 15px;
    font-weight: 700;
  }
  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
    
  }
  .column.ms-TextField-fieldGroup{
    border-radius: 5px!important;
  }
  // .ms-TextField-fieldGroup.fieldGroup.invalid{
  //   border-radius: 10px!important;
  // }
//   input[type="file"] {
//     // margin-top: 4px;   
//     // border: solid 1px;
//     // border-color:#605e5c;
//     // background-color: white;
//     // width: 100%;
//     background-color: white;
//     padding: 3px;
//     width: 100%;
//     padding: 3px;
//     color: black;   
//     border: solid 1px 1px solid #a19f9d;
// }
.pickerErrormsg{
  border: solid 1px!important;
  border-color: #a4262c!important;
}
.pickerlabelErrormsg{
  font-size: 12px !important;
  font-weight: 400 !important;
  color: #a4262c;
}
.pickerInput{
  border:none!important;
}
.col_1 {
  @include ms-Grid-col;
  @include ms-lg1;
  @include ms-sm1;
  @include ms-xl1;
}
.col_2 {
  @include ms-Grid-col;
  @include ms-lg2;
  @include ms-sm2;
  @include ms-xl2;
}
.col_3 {
  @include ms-Grid-col;
  @include ms-lg3;
  @include ms-sm3;
  @include ms-xl3;
}
.col_4 {
  @include ms-Grid-col;
  @include ms-lg4;
  @include ms-sm4;
  @include ms-xl4;
}
.col_5 {
  @include ms-Grid-col;
  @include ms-lg5;
  @include ms-sm5;
  @include ms-xl5;
}
.col_6 {
  @include ms-Grid-col;
  @include ms-lg6;
  @include ms-sm6;
  @include ms-xl6;
}
.col_7 {
  @include ms-Grid-col;
  @include ms-lg7;
  @include ms-sm7;
  @include ms-xl7;
}
.col_12 {
  @include ms-Grid-col;
  @include ms-lg12;
  @include ms-sm12;
  @include ms-xl12;
}
.col_8 {
  @include ms-Grid-col;
  @include ms-lg8;
  @include ms-sm8;
  @include ms-xl8;
}
.col_9 {
  @include ms-Grid-col;
  @include ms-lg9;
  @include ms-sm9;
  @include ms-xl9;
}
.col_10 {
  @include ms-Grid-col;
  @include ms-lg10;
  @include ms-sm10;
  @include ms-xl10;
}
.col_11 {
  @include ms-Grid-col;
  @include ms-lg11;
  @include ms-sm11;
  @include ms-xl11;
}
.btnDraft{
  background-color:#000000cf!important;
}
.btnSubmit{
  background-color:#c70808eb!important;
}
.nopaddingbottom
{
  padding-bottom: 0px;
}
.btntransparent
{
  background-color:transparent;
  color:red;
  .ms-Button-icon
  {
    color:#c70808eb !important;
  }
}
.textcenter
  {
    text-align: center;
  }
  .buttonspace
  {
    margin-right: 5px;
    margin-left: 5px;
  }
  .applicationRole .ms-label
  {
    font-size: 15px !important;
    font-weight: 700 !important;
  }
// .table {
//   width: 100%;
//   thead {
//     tr {
//       th {
//         color: #dc2829;
//         padding: 10px 10px;
//       }
//     }
//   }

//   tbody {
//     tr {
//       background-color: #f8f8f8;
//       &:nth-child(odd) {
        
//         background-color: #f3f3f3;
//       }
//       td {
//         padding: 10px 10px;
//       }
//     }
//   }



// }
.table
{
  width: 70%;
  margin: auto;
}
 table thead th {
  padding: 10px;
  background: #dc2829;
  color: #fff;
}



tr:nth-child(odd) {
  background: #d2d3dc !important;
 }
 tr:nth-child(even) {
  background: #fff !important;
 }
.attach
{
  margin-top: 5px;
  display: flex;
    align-items: center;
}
.btnCancel
{
width:125px;
}
.btnAction
{
  width: auto;
}
.btnAction button{
  padding: 17px;
}
.fieldLbl > label,
.fieldLbl  div > label,
.fieldLbl  div > div > label{
  font-size: 17px;
  font-weight: 500;
}
}
